# Project exclude paths
/common/common-util/target/
/common/service-util/target/
/model/target/
*.cmd;*.gitignore;*.hprof;*.iml;*.mvn;*.pyc;*.pyo;*.rbc;*.yarb;*~;.DS_Store;.git;.hg;.idea;.svn;CVS;__pycache__;_svn;mvnw;target;vssver.scc;vssver2.scc;
/.idea/
.class
target/
*.iml
.png
*.log
.idea/
rebel.xml
.rebel.xml.bak
out/artifacts/
/web/web-all/src/main/resources/static/
/web/web-all/src/main/resources/templates/
